<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>PNG2HEIF</string>
	<key>CFBundleIdentifier</key>
	<string>com.example.PNG2HEIF</string>
	<key>CFBundleName</key>
	<string>PNG2HEIF</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>需要保存转换后的 HEIF 图片到照片图库。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要访问照片图库以查找并转换 PNG 截图。</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>CFBundleExecutable</key>
	<string>PNG2HEIF</string>
</dict>
</plist>
